<div id="<%= dom_id(discussion) %>" class="mb-2">
  <h3><%= link_to discussion.title, discussion %></h3>
    Posted in: <%= discussion.category_name %> | Posts: <%= discussion.posts_count %>
  <div>
    <%= link_to "Edit", edit_discussion_path(discussion) %>
    <%= link_to "Delete", discussion_path(discussion), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this discussion? This cannot be undone" } %>
  </div>
</div>
