<%= simple_form_for @discussion do |f| %>
  <%= f.input :title, label: 'Please enter a discussion title', error: 'Title is mandatory, please specify one' %>

  <div class="mb-2">
    <%= f.label :category_id, "Choose a category..." %>
    <%= f.collection_select :category_id, Category.sorted, :id, :name,
    { include_blank: "Pick a category..."}, { autofocus: false, class: "form-control" } %>
  </div>

  <% if @discussion.new_record? %>
    <%= f.simple_fields_for :posts do |p| %>
      <div class="mb-3">
        <%= p.rich_text_area :content, placeholder: "Talk football..." %>
      </div>
    <% end %>
  <% end %>

  <%= f.button :submit %>
<% end %>
